@font-face {
  font-family: 'S';
  src: url('../asset/1.ttf');
}
@font-face {
  font-family: 'A';
  src: url('../asset/2.otf');
}
.name{
  font-family: "S";
  color: rebeccapurple;
  font-size: 20px;

}
.add{
  font-family: "A";
  color: blue;
  font-size: 10px;
}
body{
  background-color: blueviolet;
}
.flex{
  display: flex;
}